:root {
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--sans-font: 'Arial', 'Helvetica Neue', sans-serif;
	--serif-font: 'Merriweather', serif;
  }
/* -------------------------------------- */
/* ## Homepage
/* ------------------------------------- */

/* Upcoming Events */
div.program_offering_blocks {
	border-radius: 0px 0px 35px 0px;
	padding: 10px 31px 40px 10px !important;
	background-color: #fff;
}

.program_offering_blocks.isu-block-front h2 {
	color: #ffffff;
}

.program_offering_blocks.isu-block-front.isu-block {
	background-color: #ffffff;
	border: 3px solid var(--tertiary-color);
	box-shadow: -5px 5px 19px -5px var(--tertiary-color);
}

div.program_offering_blocks h2.isu-block-title.h4:before {
	border-bottom: 0px;
}

div.program_offering_blocks h2.isu-block-title.h4 {
	color: #000000;
}

ul.county_events {
        list-style-type: none;
        padding-left: 0rem;
	padding-bottom: 25px;
}

p.event_longDate {
        display: none;
}

li.event {
        padding: 10px 0px;
        clear: both;
}

.isu-block-front li.event {
	color: #000000;
}

.isu-block-front div.event_title a {
	color: #000000;
}

a.events_show_more {
	float: right;
}

a.county_calendar {
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 3px;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
	text-decoration: none;
}

a.event_title:hover, a.county_calendar:hover {
        text-decoration: underline;
}

.isu-block-front span.event_day {
	color: var(--tertiary-color);
}

.isu-block-front span.event_month {
	color: var(--tertiary-color);
}

.isu-block-front div.event_date {
	margin: 0 5px 8px 0;
	color: var(--tertiary-color);
}

.isu-block-front ul.program_offering_blocks {
	padding-bottom: 10px;
}

a.events_show_more.btn-outline-white {
	color: #ffffff;
	border: 1px solid #ffffff;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}


/* Local News */
.news-attachment table {
	width: 50%;
	float: left;
	display: inline-block;
}

.news-attachment .table tbody {
	border-bottom: 0px solid transparent;
}

.news-attachment .table td, .table th {
	border-top: 0px solid transparent;
}

.news-attachment img {
	padding-bottom: 10px;
}

#blazy-views-news-articles-attachment-1-3 {
	width: 50%;
	display: inline-grid;
	float: left;
}

#blazy-views-news-articles-block-1-1 {
	width: 50%;
	display: inline-grid;
}

#blazy-views-news-articles-block-1-1 img {
	float: left;
	margin: 10px;
}

div.join-4h-info {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.fa-iastate22-exclamation-point{
	-webkit-box-flex: 0;
	flex:0,0,auto;
	color: var(--primary-accent-color);
	font-size: 1.875rem;
}

/* -------------------------------------- */
/* ## COUNTY STAFF PAGE
/* ------------------------------------- */
.isueo-staff-page .layout--top-bottom-padding--small {
	padding-top: 20px;
	padding-bottom: 20px;
}
.isueo-staff-page .layout--content-container--default .layout-content {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.isueo-staff-page .layout-builder-base--two-columns.layout--column-width--80-20 .layout-content {
	grid-template-columns: 0.80fr 0.20fr;
	display: grid;
}
ul.isueo-staff-page--reed.list-unstyled.row {
	justify-content: end;
}
.isueo-staff-page--reed.isu-horizontal-card {
	display: block;
	background: #f5f5f5;
	padding: 2rem;
	margin-top: 5.2rem;
}
/* --------------------------------------  */
/* ## STAFF RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width: 1199px) {
	.isueo-staff-page--mobile .layout__region.layout__region--first {
		order: 2;
	}
	.isu-staff-page--mobile .layout-content {
		grid-template-columns: 1fr;
	}
	.isueo-staff-page div#block-iastate-theme-content--2 ul {
		margin-left: 0;
		margin-right: 0;
	}
	.isueo-staff-page--reed.isu-horizontal-card {
		display: flex;
		margin-top: 0;
	}
	ul.isueo-staff-page--reed.list-unstyled.row {
	justify-content: start;
	}
	.isueo-staff-page--mobile .layout-builder-base--two-columns.layout--column-width--80-20 .layout-content {
		grid-template-columns: .7fr 1fr;
	}
	.isueo-staff-page--mobile ul.list-unstyled.row {
		column-gap: .5rem;
	}
}
/* -------------------------------------- */
/* ## Support Extension Page
/* ------------------------------------- */
.layout.support--extension {
	background-image: url("/themes/custom/iastate_theme/images/county-support-extension.png");
}
#isueo-header-styling .layout__region.layout__region--content {
	width: 45vw;
	margin: auto;
}
.layout.support--extension .isu-block:nth-child(2) > div > div > div:nth-child(2) a.btn.btn-primary::before {
	content: url("/themes/custom/iastate_theme/images/Clover_Wht.png");
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 25px;
	height: 25px;
}
.support--extension.layout--content-container--small .layout-content {
	max-width: 100%;
}
.support--extension.layout--top-bottom-padding--small {
	padding-top: 0px;
}
.support--extension.layout--top-margin--small {
	margin-top: 0px;
}
.layout.support--extension .isu-block:nth-child(2) > div > div {
	display: flex;
	gap: 5%;
	justify-content: center;
	flex-wrap: wrap;
}
.layout.support--extension .isu-block:nth-child(2) > div > div > div {
	flex: 0 0 auto;
}

/* -------------------------------------- */
/* ## Volunteer Recruitment Page
/* ------------------------------------- */
.layout.isueo-volunteer--hero {
	background-image: url("https://www.extension.iastate.edu/files/layout_background/volunteer-hero.png");
}
.layout.isueo-volunteer--footer {
	background-image: url("https://www.extension.iastate.edu/files/layout_background/volunteer-footer.jpg");
}