:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
  }
/* -------------------------------------- */
/* ## Homepage
/* ------------------------------------- */

/* Upcoming Events */
div.program_offering_blocks {
	border-radius: 0px 0px 35px 0px;
	padding: 10px 31px 40px 10px !important;
	background-color: #fff;
}

.program_offering_blocks.isu-block-front h2 {
	color: #ffffff;
}

.program_offering_blocks.isu-block-front.isu-block {
	background-color: #ffffff;
	border: 3px solid var(--midnight);
	box-shadow: -5px 5px 19px -5px var(--midnight);
}

div.program_offering_blocks h2.isu-block-title.h4:before {
	border-bottom: 0px;
}

div.program_offering_blocks h2.isu-block-title.h4 {
	color: #000000;
}

ul.county_events {
        list-style-type: none;
        padding-left: 0rem;
	padding-bottom: 25px;
}

p.event_longDate {
        display: none;
}

li.event {
        padding: 10px 0px;
        clear: both;
}

.isu-block-front li.event {
	color: #000000;
}

.isu-block-front div.event_title a {
	color: #000000;
}

a.events_show_more {
	float: right;
}

.node--type-homepage-ct {
	border-top: 10px solid var(--gold);
}

a.county_calendar {
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 3px;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
	text-decoration: none;
}

a.event_title:hover, a.county_calendar:hover {
        text-decoration: underline;
}

.isu-block-front span.event_day {
	color: var(--midnight);
}

.isu-block-front span.event_month {
	color: var(--midnight);
}

.isu-block-front div.event_date {
	margin: 0 5px 8px 0;
	color: var(--midnight);
}

.isu-block-front ul.program_offering_blocks {
	padding-bottom: 10px;
}

a.events_show_more.btn-outline-white {
	color: #ffffff;
	border: 1px solid #ffffff;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 7px;
	white-space: break-spaces;
}


/* Local News */
.news-attachment table {
	width: 50%;
	float: left;
	display: inline-block;
}

.news-attachment .table tbody {
	border-bottom: 0px solid transparent;
}

.news-attachment .table td, .table th {
	border-top: 0px solid transparent;
}

.news-attachment img {
	padding-bottom: 10px;
}

#blazy-views-news-articles-attachment-1-3 {
	width: 50%;
	display: inline-grid;
	float: left;
}

#blazy-views-news-articles-block-1-1 {
	width: 50%;
	display: inline-grid;
}

#blazy-views-news-articles-block-1-1 img {
	float: left;
	margin: 10px;
}

div.join-4h-info {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
