/**
 * @file
 * CSS styles for elements that do not belong elsewhere.
 *
 * This file is no longer used to overwrite other styles within the theme.
 *
 * Other css files:
 * - css/base.css - Used for overriding core or Bootstrap
 * - css/theme.css - Main theme components styles
 * - css/isu-navbar.css - Those pesky links included at the top of each site
 * - css/county_iastate.css - For county only styles
 * - css/isu-responsivetables.css - Responsive table styles only
 * - css/isu-social.css - Supplemental css for social icons
 * - css/layout-builder.css - Layout builder styles not specific to content type
 * - css/utility.css - For font type implementation
 * - css/print.css - Used for print output
 */

:root {
	--cardinal: #c8102e;
	--gold: #f1be48;
	--burgundy: #7c2529;
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--midnight: #003d4c;
	--green: #008540;
  }

/* --------------------------------------  */
/* ## GOOGLE TRANSLATE
/* --------------------------------------  */
#block-gtranslate {
	text-align: right;
	grid-row-end: 3;
	margin-top: 1px;
	padding-bottom: 0.375rem;
}
.gt_selector {
	font-family: Nimbus sans,sans-serif;
	font-size: 1rem;
	padding-left: 1.7em;
	width: 100px;
	border: none;
	color: var(--burgundy);
	transition: all 0.2s ease-in-out;
}
.gt_selector:hover {
	color: var(--cardinal);
	cursor: pointer;
}
.isu-socials-responsive #block-gtranslate--2 {
	display: none;
}

/* --------------------------------------  */
/* ## GTRANSLATE RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 991px) {
	.gt_selector {	
		width: 100%;
	}
	.gt_selector:hover {
		color: var(--gold);
	}
	.isu-socials-responsive #block-gtranslate--2 {
		display: block;
		position: absolute;
		left: 3%;
		padding-top: 5%;
	}
	#block-gtranslate--2 {
		display: none;
	}
	.gt_selector, .isu-social-menu-red #dropdownMenuButton {
		color: #fff;
		font-family: Nimbus Sans, sans-serif;
		font-size: 18px !important;
		font-weight: 700;
		text-decoration: underline;
	}
}

@media screen and (max-width : 1199px) {
	.gt_selector, .isu-social-menu-red #dropdownMenuButton {
		color: #fff;
		font-family: Nimbus Sans, sans-serif;
		font-size: 18px !important;
		font-weight: 700;
		text-decoration: underline;
	}
}

/* --------------------------------------  */
/* ## Banner Slider
/* -------------------------------------  */
.flexslider {
	background: none;
	border: none;
}

/* ------------------------------------- */
/* ## 404 PAGE
/* ------------------------------------- */
img.four-zero-four {
	padding-top: 5rem;
}
.four-zero-four h2.isu-block-title.h4 {
	letter-spacing: 0.4rem;
	font-size: 4rem;
	color: var(--burgundy);
	text-align: center;
}
.four-zero-four h2.isu-block-title.h4:after {
	left: 50%;
	margin-left: -25px;
}
.four-zero-four.fun-fact {
	padding-bottom: 5rem;
}

/* --------------------------------------  */
/* ## ACCORDIONS
/* --------------------------------------  */
.ckeditor-accordion-container > dl dt.active > a {
	background-color: inherit;
	text-decoration: none;
	font-size: 1.3125rem;
}
.ckeditor-accordion-container dt.active {
	border-bottom: 0;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
	background: var(--cardinal);
}
.ckeditor-accordion-container dt {
	font-weight: inherit;
	border-bottom: 0.125rem solid #ebebeb;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle {
	left: auto;
	right: 11px;
}
.ckeditor-accordion-container > dl dt > a {
	text-decoration: none;
	color: var(--cardinal);
	background-color: inherit;
	font-family: Nimbus Sans,sans-serif;
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 1.42587;
	padding: 1.5625rem 3.125rem;
	position: relative;
	cursor: pointer;
	border-bottom: 0.125rem solid #ebebeb;
	border-bottom: 1px solid transparent;
}
.ckeditor-accordion-container > dl dd {
	padding: 1em 2.2em 1.2em;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before {
	left: 10px;
	width: 20px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
	right: 0px;
	width: 20px;
	left: auto;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
  }
  .ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before {
	transform: rotate(180deg);
  }
  .ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after {
	transform: rotate(180deg);
  }
  dl {
	padding-left: 0rem;
}
.ckeditor-accordion-container > dl {
	border: 1px solid transparent;
}
.ckeditor-accordion-container > dl dt > a:hover {
	background-color: inherit;
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
	background: var(--cardinal);
}

  /* --------------------------------------  */
  /* ## STAFF VIEWS
  /* --------------------------------------  */
  .views-field.views-field-field-staff-profile-pref-phone {
    margin: 12px;
  }
  .views-field.views-field-field-staff-profile-pref-phone h2 {
    padding-bottom: 0px;
  }
  img.staff_profile_smugmug {
    max-width: 100px;
    margin: .75rem;
    float: left;
  }
  
  /* This style is for staff views before they were changed to grid, eventually can be deleted */
  td.staff-view-smugmug img {
    max-width: 100px;
    margin: 10px 0px;
  }

/* --------------------------------------  */
/* ## NEWS HOMEPAGE BLOCK
/* --------------------------------------  */
.card-body svg:not(:root).svg-inline--fa {
	display: inline-block;
}
.ext-news-feed .card-title {
	color: var(--burgundy);
}
.card-title {
	font-weight: 700;
	line-height: 1.38095;
}
.card {
	border: none;
	box-shadow: 0.5625rem 0.5625rem 1.25rem rgb(0 0 0 / 20%);
	height: 100%;
	text-align: center;
}
.card a {
	text-decoration: none;
}
.card-body p {
	color: #000;
}
.card-footer {
	background-color: transparent;
	padding: 1.75rem 1.25rem;
	border-top: none;
}

/* --------------------------------------  */
/* ## NEWS BLOCK RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 425px) {
	.ext-news-feed .header {
		max-width: 95%;
	}
	.ext-news-feed img {
		display: none;
	}
	.ext-news-feed li.col-md-6.col-lg-4.mb-3 {
		max-width: 100%;
	}
}

@media screen and (max-width : 575px) {
	.ext-news-feed .header {
		max-width: 60%;
	}
}

@media screen and (max-width : 768px) {
	.ext-news-feed ul {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}
	.ext-news-feed .item-list {
		margin-bottom: -40px;
	}
	.ext-news-feed p {
		padding-top: 0px;
		text-align: left !important;
	}
	.ext-news-feed img {
		float: left;
		max-height: 50%;
		width: 100%;
		object-fit: cover;
	}
	.ext-news-feed li.col-md-6.col-lg-4.mb-3 {
		display: flex;
		flex-direction: row;
		max-width: 100%;
	}
	.ext-news-feed .card {
		text-align: left;
		height: 100%;
	}
	.ext-news-feed .card-title {
		margin: 0px;
		padding-bottom: 20px;
	}
	.more-news {
		padding-top: 25px;
	}
 }

@media screen and (max-width : 1199px) {
	.news-attachment table  {
		width: 10% !important;
	}
	.views-field-field-teaser{
		display: table-cell !important;
	}
	.views-field-field-teaser a img {
		width: 100%;
	}
}

/* --------------------------------------  */
/* ## LAYOUT BUILDER STYLES
/* --------------------------------------  */
.featured-pubs {
	clear:  both;
}
.strong-iowa {
	padding-top: 20%;
}
.hero-heading h2 {
	font-size: 4.375rem;
	line-height: 1.24528;
}
.vertical-alignment {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* --------------------------------------  */
/* ## LAYOUT BUILDER STYLES RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 768px) {
	.strong-iowa {
		padding-top: 10%;
	}
	.strong-iowa img {
		max-width: 90%;
		padding-left: 5%;
	}
}

/* --------------------------------------  */
/* ## EVENTS WITH WHITE BACKGROUND
/* ## USED ON NON-COUNTY SITES
/* --------------------------------------  */
.upcoming-events-white.program_offering_blocks.isu-block {
	background-color: #fff;
	border: 3px solid var(--midnight);
	box-shadow: -5px 5px 19px -5px var(--midnight);
}
div.upcoming-events-white {
	border-radius: 0px 0px 35px 0px;
	padding: 10px 31px 40px 10px !important;
}
div.upcoming-events-white h2.isu-block-title.h4 {
	color: #000;
}
.upcoming-events-white div.event_date {
	margin: 0 5px 8px 0;
	color: var(--midnight);
}
.upcoming-events-white div.event_title a {
	color: #000;
}

/* --------------------------------------  */
/* ## MEDIA LIBRARY
/* --------------------------------------  */
.media-library-item__preview {
	padding-bottom: 15%;
}
.field.field--name-field-media-document.field--type-file.field--label-visually_hidden {
	padding-left: 14%;
	padding-top: 3%;
}

/* Media Library Theme Reset*/
.views-live-preview .media-library-view div.views-row + div.views-row {
    margin-top: 0;
} 
.media-library-wrapper div[role="toolbar"] {
    max-width: 20%;
}
.media-library-wrapper div[role="toolbar"] ul {
	max-width: 100%;
}
.media-library-menu-image {
	width: 100%;
}
.js-form-item-sort-by select{
    height: auto !important;  
}
.media-library-view--form-actions {
	margin-bottom: 0px;
}
.media-library-view--form-actions button {
    margin-bottom: 0px !important;
}
.ui-dialog-titlebar {
    background: #6b6b6b !important ;
    padding: 15px 49px 15px 15px !important;
}
.ui-dialog-title {    
	margin: 0;
    color: #fff;
    font-size: 1.231em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;color: white;
}
.ui-dialog--narrow.media-library-widget-modal {
    max-width: 75%;
}
.fontawesome-icon-dialog {
	max-width: 500px;
}

/* --------------------------------------  */
/* ## FLEX SLIDER
/* --------------------------------------  */
.flex-active-slide{
        width: 140%;
}

/* --------------------------------------  */
/* ## CONTENT
/* --------------------------------------  */

/* News Articles Page */
.field-content.news-page-thumbnail {
	float: left;
	padding-right: 25px;
}

/* --------------------------------------  */
/* ## CARDS
/* Styles apply to content, flip, and image
/* --------------------------------------  */
.bean-card {
	position: relative;
	justify-content: center;
	border-radius: 3px;
	color: #ffffff;
	margin-bottom: 1rem;
}
a.bean-card_link {
	display: block;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden;
}
.bean-card a:hover {
	  box-shadow: 0 0 5px 1px #f1be48;
}

/* Kill external link icon */
#section-content .bean-card a.external:after { 
	display: none; 
}

/* Label */
.bean-card.bean-card_width_full {
	display: block;
}
.bean-card_label {
	display: flex;
	padding: 0.75rem 1rem;
	justify-content: center;
	background: var(--cardinal);
	font-size: 1.5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}
.bean-card_label p {
	margin: 0;
	line-height: 1.45;
	font-family: Merriweather,serif;
}
.bean-card_label div {
	margin: 0;
}

/* Partial Label */
.bean-card_label.Partial {
	width: 85%;
	justify-content: left;
	display: flex;
	align-items: center;
}
.bean-card_label.Partial p {
	padding-right: 10%;
} 
.bean-card_label.Partial:before {
	content: "";
	position: absolute;
	display: inline-block;
	border-bottom: 2px solid var(--gold);
	border-right: 2px solid var(--gold);
	height: 10px;
	width: 10px;
	transform: rotate(-45deg);
	right: 9%;
}
.bean-card_label.Partial:after {
	content: '';
	position: absolute;
	display: inline-block;
	border-bottom: 2px solid var(--gold);
	border-right: 2px solid var(--gold);
	height: 10px;
	width: 10px;
	transform: rotate(-45deg);
	right: 9%;
}

/* Used for image card */
.bean-card_img img {
	width: 100%;
}
/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */
@media screen and (max-width : 1199px) {
	.bean-card_label p {
		line-height: 1;
	}
 }

/* Icons */
div.fontawesome-icon i {
	font-style: normal;
}

/* Card Colors */
.bean-card_label.Green {
	background: var(--green);
}
.bean-card_label.Partial.Green {
	background-color: var(--green);
}
.bean-card_label.Dk.Red {
	background: var(--burgundy);
}
.bean-card_label.Partial.Dk.Red {
	background-color: var(--burgundy);
}
.bean-card_label.Dark.Blue {
	background: var(--midnight);
}
.bean-card_label.Partial.Dk.Blue {
	background-color: var(--midnight);
}

/* Changes color of border depending on selected label color) */
.bean-card_body.Green { 
	border-color: var(--green); 
}
.bean-card_body.Dark.Red { 
	border-color: var(--burgundy); 
}
.bean-card_body.Dark.Blue { 
	border-color: var(--midnight); 
}

/* 
/* Old Color Styles 
/* We have to keep these in case someone is using them so they don't break
/*
*/
.bean-card_label.Blue {
	background: var(--midnight);
}
.bean-card_label.Dark.Green {
	background: #3E4827;
}
.bean-card_label.Brown {
	background: #8b5b29;
}
.bean-card_label.Grey {
	background: #707372;
}
.bean-card_label.Dark.Overlay.Bottom {
	background: rgba(0,0,0,0.75);
}
.bean-card_body.Blue{ 
	border-color: var(--midnight);
}
.bean-card_body.Dark.Green { 
	border-color: #3E4827; 
}
.bean-card_body.Brown { 
	border-color: #8b5b29; 
}
.bean-card_body.Grey { 
	border-color: #707372; 
}
.bean-card_body.Dark.Overlay.Bottom { 
	border-color: rgba(0,0,0,0.75); 
}
.bean-card_label.Dark.Overlay.Left,
.bean-card_label.Dark.Overlay.Bottom {
	background: #efefef;
	position: absolute;
	text-align: left;
	background: rgba(0,0,0,0.75);
}
.bean-card_label.Dark.Overlay.Left {
	left: 0; bottom: 20%;
	max-width: 90%;
}
.bean-card_label.Dark.Overlay.Bottom {
	left: 0; bottom: 0; right: 0;
	width: 100%;
}

/* Text Size */
.bean-card_label.Small {
	font-size: 0.93rem !important;
}
.bean-card_label.Medium {
	font-size: 1.5rem !important;
}
.bean-card_label.Large {
	font-size: 2rem !important;
}

 /* When Icons are in the Label */
.fontawesome-icons {
	font-family: FontAwesome;
} 
.bean-card_label.Small div.fontawesome-icons {
	margin-right: 0.5rem;
	padding-right: 5px;
}
.bean-card_label.Medium div.fontawesome-icons {
	margin-right: 1rem;
	padding-right: 5px;
}
.bean-card_label.Large div.fontawesome-icons {
	margin-right: 1.25rem;
	padding-right: 5px;
}
