/**
 * @file
 * CSS styles for elements that do not belong elsewhere.
 *
 * This file is no longer used to overwrite other styles within the theme.
 *
 * Other css files:
 * - css/base.css - Used for overriding core or Bootstrap
 * - css/theme.css - Main theme components styles
 * - css/isu-navbar.css - Those pesky links included at the top of each site
 * - css/county_iastate.css - For county only styles
 * - css/isu-responsivetables.css - Responsive table styles only
 * - css/isu-social.css - Supplemental css for social icons
 * - css/layout-builder.css - Layout builder styles not specific to content type
 * - css/utility.css - For font type implementation
 * - css/print.css - Used for print output
 */

:root {
	--dk-gray: #4a4a4a;
	--lt-gray: #f5f5f5;
	--md-gray: #ebebeb;
	--sans-font: 'Arial', 'Helvetica Neue', sans-serif;
	--serif-font: 'Merriweather', serif;
  }

/* --------------------------------------  */
/* ## GOOGLE TRANSLATE
/* --------------------------------------  */
#block-gtranslate {
	text-align: right;
	grid-row-end: 3;
	margin-top: 1px;
	padding-bottom: 0.375rem;
}
.gt_selector {
	font-family: var(--sans-font);
	font-size: 1rem;
	padding-left: 1.7em;
	width: 100px;
	border: none;
	color: var(--link-color);
	transition: all 0.2s ease-in-out;
}
.gt_selector:hover {
	color: var(--primary-color);
	cursor: pointer;
}
.isu-socials-responsive #block-gtranslate--2 {
	display: none;
}

/* --------------------------------------  */
/* ## GTRANSLATE RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 991px) {
	.gt_selector {
		width: 100%;
	}
	.gt_selector:hover {
		color: var(--primary-accent-color);
	}
	.isu-socials-responsive #block-gtranslate--2 {
		display: block;
		position: absolute;
		left: 3%;
		padding-top: 5%;
	}
	#block-gtranslate--2 {
		display: none;
	}
	.gt_selector, .isu-social-menu-red #dropdownMenuButton {
		color: #fff;
		font-family: var(--sans-font);
		font-size: 18px !important;
		font-weight: 700;
		text-decoration: underline;
	}
}

@media screen and (max-width : 1199px) {
	.gt_selector, .isu-social-menu-red #dropdownMenuButton {
		color: #fff;
		font-family: var(--sans-font);
		font-size: 18px !important;
		font-weight: 700;
		text-decoration: underline;
	}
}

/* --------------------------------------  */
/* ## Stat Cards
/* --------------------------------------  */
.stat-card .card-img img {
	width: 100%;
	object-fit: cover;
	max-height: 300px;
}
.stat-card .card-img-overlay {
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}
.statistic__title {
	color: #fff;
	font-family: var(--serif-font);
	font-weight: 700;
	font-size: 7.375rem;
	line-height: 1.23636;
	text-align: center;
}
.statistic__text {
	color: #fff;
	font-family: var(--sans-font);
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.66667;
}

/* --------------------------------------  */
/* ## Banner Slider
/* -------------------------------------  */
.flexslider {
	background: none;
	border: none;
}

/* --------------------------------------  */
/* ## Title Overlay for Hero
/* -------------------------------------  */
.ext-hero-red-overlay {
	bottom: 0;
	width: 100%;
	position: absolute;
	background: rgba(200,16,46,.8);
	padding: 0.75rem 1rem;
}
.ext-hero-white-overlay {
        bottom: 0;
        width: 100%;
        position: absolute;
        background: rgba(255,255,255,.7);
        padding: 0.75rem 1rem;
}

/* ------------------------------------- */
/* ## 404 PAGE
/* ------------------------------------- */
img.four-zero-four {
	padding-top: 5rem;
}
.four-zero-four h2.isu-block-title.h4 {
	letter-spacing: 0.4rem;
	font-size: 4rem;
	color: var(--secondary-color);
	text-align: center;
}
.four-zero-four h2.isu-block-title.h4:after {
	left: 50%;
	margin-left: -25px;
}
.four-zero-four.fun-fact {
	padding-bottom: 5rem;
}
.four-zero-four .isu-search {
	float: initial;
	width: inherit;
}

/* --------------------------------------  */
/* ## ACCORDIONS
/* --------------------------------------  */
.ckeditor-accordion-container > dl dt.active > a {
	background-color: inherit;
	text-decoration: none;
	font-size: 1.3125rem;
}
.ckeditor-accordion-container dt.active {
	border-bottom: 0;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
	background: var(--primary-color);
}
.ckeditor-accordion-container dt {
	font-weight: inherit;
	border-bottom: 0.125rem solid #ebebeb;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle {
	left: auto;
	right: 11px;
}
.ckeditor-accordion-container > dl dt > a {
	text-decoration: none;
	color: var(--primary-color);
	background-color: inherit;
	font-family: var(--sans-font);
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 1.42587;
	padding: 1.5625rem 3.125rem;
	position: relative;
	cursor: pointer;
	border-bottom: 0.125rem solid #ebebeb;
	border-bottom: 1px solid transparent;
}
.ckeditor-accordion-container > dl dd {
	padding: 1em 2.2em 1.2em;
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before {
	left: 10px;
	width: 20px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
	right: 0px;
	width: 20px;
	left: auto;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
  }
  .ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before {
	transform: rotate(180deg);
  }
  .ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after {
	transform: rotate(180deg);
  }
  dl {
	padding-left: 0rem;
}
.ckeditor-accordion-container > dl {
	border: 1px solid transparent;
}
.ckeditor-accordion-container > dl dt > a:hover {
	background-color: inherit;
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
	background: var(--primary-color);
}

  /* --------------------------------------  */
  /* ## STAFF VIEWS
  /* --------------------------------------  */
.isu-people-directory-view {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.isu-horizontal-card {
	display: flex;
}
.isu-people-directory-view .isu-horizontal-card_wrap {
	display: flex;
}
.isu-horizontal-card_wrap {
	align-items: flex;
}
.isu-horizontal-card_left {
	margin-bottom: 0;
	margin-right: 1rem;
}
.isu-horizontal-card_body {
	flex: 1;
	line-height: 1.75;
}
.isu-horizontal-card_body p{
	line-height: 1.3;
}
.people-teaser-name {
	word-break: break-word;
}
.people-teaser-name h2 {
	margin-bottom: 0.5rem;
	font-size: clamp(1.25rem,.9vw,1.25rem);
	padding-bottom: 0;
}
img.staff_profile_smugmug {
	max-width: 150px;
	min-width: 100px;
}
.staff-profile-reed-add-cty-editor input.form-autocomplete {
    border: 2px solid #868686 !important;
}
/* Custodian of Public Record/About page */
.isu-custodian-records-about {
	max-width: 1140px;
	margin: auto;
	padding-bottom: 10px;
}
.isu-custodian-records-about .field-content:before {
	content: "\f46c";
	font-family: FontAwesome;
	color: var(--primary-color);
	font-size: 1.3rem;
	padding-right: 5px;
}
/* Featured Staff */
.featured-staff-profile img {
	max-width: 250px;
	padding-right: 1rem;
}

/* --------------------------------------  */
/* ## NEWS HOMEPAGE BLOCK
/* --------------------------------------  */
.card-body svg:not(:root).svg-inline--fa {
	display: inline-block;
}
.ext-news-feed {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}
.ext-news-feed .card-title {
	color: var(--secondary-color);
	margin-bottom: 0.2rem;
	text-decoration: none;
}
.card-title {
	font-weight: 700;
	line-height: 1.38095;
}
.card {
	border: none;
	box-shadow: 0.5625rem 0.5625rem 1.25rem rgb(0 0 0 / 20%);
	height: 100%;
	text-align: center;
}
.ext-news-feed .card {
	text-align: left;
}
.ext-news-feed .card-body p {
	padding-top: 20px;
}
.card-body p {
	color: #000;
}
.ext-news-column .card-body {
	padding: 1.25rem 0.8rem;
	width: 59%;
}
.ext-news-feed a {
	text-decoration: none;
}
.ext-news-feed a:hover img {
	outline: none;
}
.ext-news-column a:hover {
	outline: var(--primary-accent-color) auto 5px;
}
a .card-arrow-wrapper:hover {
	background-color: var(--secondary-color);
}
.ext-news-feed--list .views-row:not(:last-child) {
	padding-bottom: 1rem;
}
.ext-news-feed--list {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.card-footer {
	background-color: transparent;
	padding: 1.75rem 1.25rem;
	border-top: none;
}
.ext-news-feed .card-image img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.ext-news-feed .card-image-list img {
	object-fit: cover;
	height: 100%;
}
.card-arrow-wrapper {
  background-color: var(--primary-color); /* ISU red */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  transition: background-color 0.3s ease;
}
span.card-arrow {
	position: relative;
	border-right: 0.185rem solid var(--primary-accent-color);
	border-bottom: 0.185rem solid var(--primary-accent-color);
	height: 0.725rem;
	width: 0.725rem;
	transform: rotate(-45deg);
	transform-origin: center;
}
.card-arrow:hover {
  background-color: var(--secondary-color); /* ISU maroon */
}
.ext-news-feed .card-body .card-title {
  margin-top: 0;
}
.ext-news-feed .bg-danger {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color);
	color: #fff;
	left: 13px;
	border-radius: .25rem;
	top: -7px;
	font-weight: 700;
	white-space: break-spaces;
	overflow: hidden;
	padding: .375rem .75rem;
}
.ext-news-feed .card-title.ext-news-feed--featured a:after {
	content: '\f061';
	font-family: 'FontAwesome';
	padding-left: .7rem;
	vertical-align: middle;
	font-size: 1.3rem;
}
.ext-news-feed footer a {
	font-weight: 700;
	line-height: 1.388;
	text-decoration: none;
	display: inline-flex;
	position: relative;
	font-size: 1.125rem;
	align-items: center;
}
.ext-news-feed footer a:after {
	content: '\f061';
	font-family: 'FontAwesome';
	transition: transform 0.3s ease;
	margin-left: 8px;
}
.ext-news-feed footer a:hover::after {
	transform: translateX(4px);
}
/* --------------------------------------  */
/* ## CALENDAR of EVENTS
/* --------------------------------------  */
.calendar-view-pager {
	list-style: none;
	background-color: transparent;
	border: none;
	padding-left: 0;
	margin-bottom: 0;
}
.calendar-view-pager .pager__item > * {
	font-size: 1.1rem;
}
.calendar-view-pager .pager__item > .form-item {
	color: var(--cardinal);
	font-size: clamp(1.5rem, 2.2vw, 1.875rem);
	font-family: Merriweather,serif;
	letter-spacing: 0;
	line-height: 1.4;
	padding-bottom: 2rem;
	position: relative;
	border-top: none;
}
.calendar-view-table caption {
	display: none;
}
.calendar-view-table.table {
	border: none !important;
}
table.calendar-view-table body.cke_editable table[border], .table[border] body.cke_editable table, .table, .table tbody {
	border: none;
}
table.calendar-view-table.table thead th {
	border-bottom: none;
}
.calendar-view-table.table td {
	padding: 0;
}
.calendar-view-table .calendar-view-day__number {
	color: var(--cardinal);
	background: transparent;
}
.calendar-view-table .next-month .calendar-view-day__number, .calendar-view-table .previous-month .calendar-view-day__number {
	color: #000;
	background: transparent;
}
.calendar-view-table .calendar-view-day__number {
	flex: 1 0;
	font-size: clamp(1rem, 1.2vw, 1.125rem);
	cursor: pointer;
	font-weight: 700;
	text-align: left;
}
.calendar-view-table .calendar-view-day__row {
	border: none;
	font-size: clamp(.8rem, 1vw, 1.125rem)
}
.calendar-view-table .calendar-view-day {
	flex-wrap: wrap;
}
.today .calendar-view-day__number {
	color: var(--cardinal);
}
.calendar-view-table.table tbody tr:nth-child(2n) {
	background-color: transparent;
}
.calendar-view-table .next-month, .calendar-view-table .previous-month {
	opacity: 0.7;
}
.views-field-field-event-date-and-time {
	font-size: .8rem;
}
.calendar-view-pager__reset a, .calendar-view-pager .pager__item > * {
	line-height: 1.5625;
	text-transform: none;
}
li.pager__item.pager__previous a::before {
	content: "\f053";
	font-family: FontAwesome;
	padding-right: 6px;
}
li.pager__item.pager__next a::after {
	content: "\f054";
	font-family: FontAwesome;
	padding-left: 6px;
}
@media (min-width: 48rem) {
	.calendar-view-day__row.is-multi {
		--calendar-view-day-multi-offset: none;
		padding-left: none;
	}
}


/* --------------------------------------  */
/* ## CARD RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 575px) {
	.card-body p {
		margin-left: 0px;
		margin-right: 0px;
	}
	.ext-news-feed .views-col {
		width: 95% !important;
	}
}
@media screen and (max-width : 768px) {
	.ext-news-feed .views-col {
		width: 50% !important;
		padding-bottom: 1rem;
	}
}
@media screen and (max-width : 992px) {
	.ext-news-feed .views-view-grid .views-row {
		padding: 0;
		margin-bottom: 2rem;
	}
	.ext-news-feed .card-body {
		padding: 1.25rem 0.75rem;
	}
	div#block-iastate-theme-content--2 .ext-news-feed .card-body p, div#block-iastate-theme-content--2 .ext-news-feed .card-title {
		margin-right: 0px;
		margin-left: 0px;
	}
}

/* --------------------------------------  */
/* ## NEWS BLOCK RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 425px) {
	.ext-news-feed .header {
		max-width: 95%;
	}
	.ext-news-feed img {
		display: none;
	}
	.ext-news-feed li.col-md-6.col-lg-4.mb-3 {
		max-width: 100%;
	}
	.card-title .ext-news-feed--featured {
		padding-top: 1.5rem;
	}
	.ext-news-feed .card-body p {
		padding-top: 15px;
	}
}

@media screen and (max-width : 575px) {
	.ext-news-feed .header {
		max-width: 60%;
	}
	.ext-news-feed {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

@media screen and (max-width : 768px) {
	.ext-news-feed ul {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}
	.ext-news-feed .item-list {
		margin-bottom: -40px;
	}
	.ext-news-feed {
		grid-template-columns: 1fr;
	}
	.ext-news-feed p {
		padding-top: 0px;
		text-align: left !important;
	}
	.ext-news-feed img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.ext-news-feed li.col-md-6.col-lg-4.mb-3 {
		display: flex;
		flex-direction: row;
		max-width: 100%;
	}
	.ext-news-feed .card {
		text-align: left;
		height: 100%;
	}
	.ext-news-feed .card-title {
		margin: 0px;
		padding-bottom: 5px;
	}
	.more-news {
		padding-top: 25px;
	}
 }

@media screen and (max-width : 1199px) {
	.news-attachment table  {
		width: 10% !important;
	}
	.views-field-field-teaser{
		display: table-cell !important;
	}
	.views-field-field-teaser a img {
		width: 100%;
	}
}

/* --------------------------------------  */
/* ## LAYOUT BUILDER STYLES
/* --------------------------------------  */
.featured-pubs {
	clear:  both;
}
.strong-iowa {
	padding: 20% 0;
}
.hero-heading h2 {
	font-size: clamp(3rem, 4.2vw, 4.375rem);
	line-height: 1.24528;
}
.hero-heading.h1.isu-page-title {
	margin: 0.625rem 0 0.625rem;
}
.hero-heading.h1.isu-page-title hr {
border-top: 2px solid var(--primary-accent-color);
width: 6.125rem;
margin-top: -14px;
}
.vertical-alignment .layout-content {
	align-items: center;
}
.isueo-box-shadow {
	margin-bottom: 20px;
	padding: 2rem;
	border-radius: 0.25rem;
	box-shadow: 0.5625rem 0.5625rem 1.25rem rgb(0 0 0 / 20%);
	height: 100%;
}
.isueo-cardinal, .isueo-cardinal p {
	color: var(--primary-color);
}
.isueo-midnight, .isueo-midnight p {
	color: var(--btn-primary-color);
}
.isueo-burgundy, .isueo-burgundy p {
	color: var(--secondary-color);
}

/* --------------------------------------  */
/* ## LAYOUT BUILDER STYLES RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 768px) {
	.strong-iowa {
		padding: 5% 0;
	}
	.strong-iowa img {
		max-width: 100%;
		display: grid;
		margin: auto;
	}
	.vertical-alignment {
		transform: none;
	}
	.featured-pubs {
		max-width: 94%;
		margin: auto;
	}
}

/* --------------------------------------  */
/* ## EVENTS WITH WHITE BACKGROUND
/* ## USED ON NON-COUNTY SITES
/* --------------------------------------  */
.upcoming-events-white.program_offering_blocks.isu-block {
	background-color: #fff;
	border: 3px solid var(--tertiary-color);
	box-shadow: -5px 5px 19px -5px var(--tertiary-color);
}
div.upcoming-events-white {
	border-radius: 0px 0px 35px 0px;
	padding: 10px 31px 40px 10px !important;
}
div.upcoming-events-white h2.isu-block-title.h4 {
	color: #000;
}
.upcoming-events-white div.event_date {
	margin: 0 5px 8px 0;
	color: var(--tertiary-color);
}
.upcoming-events-white div.event_title a {
	color: #000;
}

/* --------------------------------------  */
/* ## Dashboard
/* --------------------------------------  */
.isueo-dashboard {
	max-height: 400px;
	overflow: auto;
}
.isueo-dashboard.layout-block--background--gray .isu-fieldset {
	background-color: #fff;
}

/* --------------------------------------  */
/* ## Dashed Yellow Border
/* --------------------------------------  */
.isueo-gold-dash {
	padding: 2rem;
	border-radius: 0.25rem;
	margin-bottom: 20px;
	border: 2px dashed var(--primary-accent-color);
}

/* --------------------------------------  */
/* ## MEDIA LIBRARY
/* --------------------------------------  */
.media-library-item__preview {
	padding-bottom: 15%;
}
.field.field--name-field-media-document.field--type-file.field--label-visually_hidden {
	padding-left: 14%;
	padding-top: 3%;
}

/* Media Library Theme Reset*/
.views-live-preview .media-library-view div.views-row + div.views-row {
    margin-top: 0;
}
.media-library-wrapper div[role="toolbar"] {
    max-width: 20%;
}
.media-library-wrapper div[role="toolbar"] ul {
	max-width: 100%;
}
.media-library-menu-image {
	width: 100%;
}
.js-form-item-sort-by select{
    height: auto !important;
}
.media-library-view--form-actions {
	margin-bottom: 0px;
}
.media-library-view--form-actions button {
    margin-bottom: 0px !important;
}
.ui-dialog-titlebar {
    background: #6b6b6b !important ;
    padding: 15px 49px 15px 15px !important;
}
.ui-dialog-title {
	margin: 0;
    color: #fff;
    font-size: 1.231em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;color: white;
}
.ui-dialog--narrow.media-library-widget-modal {
    max-width: 75%;
}
.fontawesome-icon-dialog {
	max-width: 500px;
}

/* --------------------------------------  */
/* ## FLEX SLIDER
/* --------------------------------------  */
.flex-active-slide{
        width: 140%;
}

/* --------------------------------------  */
/* ## CONTENT
/* --------------------------------------  */

/* News Articles Page */
.field-content.news-page-thumbnail {
	float: left;
	padding-right: 25px;
}

/* Expand/Collapse Formatter */
a.ec-toggle-link {
	color: #4a4a4a;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.75;
}
a.ec-toggle-link.ecf-open:after {
	content: '\f107';
	font-family: "FontAwesome";
	margin: 0 0 0 4px;
	vertical-align: top;
}
a.ec-toggle-link.ecf-close:after {
	content: '\f106';
	font-family: "FontAwesome";
	margin: 0 0 0 4px;
	vertical-align: top;
}


/* --------------------------------------  */
/* ## CARDS
/* Styles apply to content, flip, and image
/* --------------------------------------  */
.bean-card {
	position: relative;
	justify-content: center;
	border-radius: 3px;
	color: #ffffff;
	margin-bottom: 1rem;
}
a.bean-card_link {
	display: block;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden;
}
.bean-card a:hover {
	  box-shadow: 0 0 5px 1px #f1be48;
}

/* Kill external link icon */
#section-content .bean-card a.external:after {
	display: none;
}

/* Label */
.bean-card.bean-card_width_full {
	display: block;
}
.bean-card_label {
	display: flex;
	padding: 0.75rem 1rem;
	background: var(--btn-danger-color);
	font-size: 1.5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	flex-direction: column;
}
.bean-card_label p {
	margin: 0;
	line-height: 1.45;
	font-family: var(--serif-font);
}
.bean-card_label div {
	margin: 0;
}
.image-card_caption p {
	font-size: clamp(1rem, 1.2vw, 1.125rem);
	line-height: 1.5;
	font-family: var(--sans-font);
	justify-content: center;
	display: flex;
	text-align: center;
}
.image-card_caption hr {
	border-bottom: 0.125rem solid var(--primary-accent-color);
	width: 50%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
/* Partial Label */
.bean-card_label.Partial {
	width: 85%;
	justify-content: left;
	display: flex;
}
.bean-card_label.Partial p {
	padding-right: 10%;
}
.bean-card_label.Partial:before {
	content: "";
	position: absolute;
	display: inline-block;
	border-bottom: 2px solid var(--primary-accent-color);
	border-right: 2px solid var(--primary-accent-color);
	height: 10px;
	width: 10px;
	transform: rotate(-45deg);
	right: 9%;
}
.bean-card_label.Partial:after {
	content: '';
	position: absolute;
	display: inline-block;
	border-bottom: 2px solid var(--primary-accent-color);
	border-right: 2px solid var(--primary-accent-color);
	height: 10px;
	width: 10px;
	transform: rotate(-45deg);
	right: 9%;
}

/* Used for image card */
.bean-card_img img {
	width: 100%;
}
/* --------------------------------------  */
/* ## Responsive
/* --------------------------------------  */

/* Icons */
div.fontawesome-icon i {
	font-style: normal;
}

/* Card Colors */
.bean-card_label.Green {
	background: var(--btn-success-color);
}
.bean-card_label.Partial.Green {
	background-color: var(--btn-success-color);
}
.bean-card_label.Dk.Red {
	background: var(--btn-secondary-color);
}
.bean-card_label.Partial.Dk.Red {
	background-color: var(--btn-secondary-color);
}
.bean-card_label.Dark.Blue {
	background: var(--btn-primary-color);
}
.bean-card_label.Partial.Dk.Blue {
	background-color: var(--btn-primary-color);
}

/* Changes color of border depending on selected label color) */
.bean-card_body.Green {
	border-color: var(--btn-success-color);
}
.bean-card_body.Dark.Red {
	border-color: var(--btn-secondary-color);
}
.bean-card_body.Dark.Blue {
	border-color: var(--btn-primary-color);
}

/*
/* Old Color Styles
/* We have to keep these in case someone is using them so they don't break
/*
*/
.bean-card_label.Blue {
	background: var(--btn-primary-color);
}
.bean-card_label.Dark.Green {
	background: #3E4827;
}
.bean-card_label.Brown {
	background: #8b5b29;
}
.bean-card_label.Grey {
	background: #707372;
}
.bean-card_label.Dark.Overlay.Bottom {
	background: rgba(0,0,0,0.75);
}
.bean-card_body.Blue{
	border-color: var(--btn-primary-color);
}
.bean-card_body.Dark.Green {
	border-color: #3E4827;
}
.bean-card_body.Brown {
	border-color: #8b5b29;
}
.bean-card_body.Grey {
	border-color: #707372;
}
.bean-card_body.Dark.Overlay.Bottom {
	border-color: rgba(0,0,0,0.75);
}
.bean-card_label.Dark.Overlay.Left,
.bean-card_label.Dark.Overlay.Bottom {
	background: #efefef;
	position: absolute;
	text-align: left;
	background: rgba(0,0,0,0.75);
}
.bean-card_label.Dark.Overlay.Left {
	left: 0; bottom: 20%;
	max-width: 90%;
}
.bean-card_label.Dark.Overlay.Bottom {
	left: 0; bottom: 0; right: 0;
	width: 100%;
}

/* Text Size */
.bean-card_label.Small {
	font-size: clamp(.8rem, 1vw, .93rem) !important;
}
.bean-card_label.Medium {
	font-size: clamp(.9rem, 1vw,1.5rem) !important;
}
.bean-card_label.Large {
	font-size: clamp(1rem,1.1vw,2rem)!important;
}
.bean-card-content_label.Small {
	font-size: clamp(.93rem,1.2vw,.93rem) !important;
}
.bean-card-content_label.Medium {
	font-size: clamp(1rem,1.5vw,1.5rem) !important;
}
.bean-card-content_label.Large {
	font-size: clamp(2rem,1.5vw,2rem) !important;
}
.flip-card_label.Small p{
	font-size: clamp(.93rem,1.2vw,.93rem) !important;
}
.flip-card_label.Medium p{
	font-size: clamp(1rem,1.5vw,1.5rem) !important;
}
.flip-card_label.Large p{
	font-size: clamp(2rem,1.5vw,2rem) !important;
}

 /* When Icons are in the Label */
.fontawesome-icons {
	font-family: FontAwesome;
}
.bean-card_label.Small div.fontawesome-icons {
	margin-right: 0.5rem;
	padding-right: 5px;
}
.bean-card_label.Medium div.fontawesome-icons {
	padding-right: 5px;
}
.bean-card_label.Large div.fontawesome-icons {
	margin-right: 1.25rem;
	padding-right: 5px;
}

/* ------------------------------------- */
/* ## CATEGORIES
/* ------------------------------------- */
/* Category Cards */
.plp-category-cards .card-body p, .plp-category-cards .card-title {
    text-align: start;
}
.plp-category-cards .card-body {
	padding: .3rem 1.25rem 1.25rem;
}
.plp-category-cards h3.card-title {
    font-size: clamp(1.1rem, 2.1vw, 1.5rem);
    margin: 0;
}
.plp-category-cards img {
    border: 10px solid #fff;
	width: 480px;
	height: 185px;
	object-fit: cover;
}
.plp-category-cards .btn-danger {
	position: absolute;
	right: 13px;
	border-radius: .25rem;
	bottom: -7px;
}
.plp-category-cards .col-md-6.col-lg-4 {
	padding-left: 0px;
	padding-right: 0px;
	align-items: stretch;
	display: flex;
}
.plp-category-cards .mb-3{
	margin-bottom: 2rem !important;
}

/* --------------------------------------  */
/* ## RESPONSIVE
/* --------------------------------------  */
@media screen and (max-width : 575px) {
	.plp-category-cards .col-md-6 {
		flex: 0 0 85%;
		margin: auto;
	}
}

/* --------------------------------------  */
/* ## FEATURED NEWSLETTER VIEW
/* --------------------------------------  */
.isueo-newsletter-featured-view li {
  gap: 2.1875rem;
}
.isueo-newsletter-featured-view .views-field-field-newsletter-thumbnail {
  min-width: 25rem;
}
.isueo-newsletter-featured-view .views-field-field-newsletter-featured {
  padding: .8125rem 1.25rem;
  border-left: .125rem solid #f1be48;
  margin: auto 0;
}
.isueo-newsletter-featured-view .views-field-field-newsletter-featured a {
  text-decoration: none;
}
.isueo-newsletter-featured-view .views-field-field-newsletter-featured a h2:after {
  content: '\f061';
  font-family: FontAwesome;
  padding-left: .5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  transition: transform 0.3s ease
}
.isueo-newsletter-featured-view .views-field-field-newsletter-featured a h2:hover::after {
transform: translateX(4px);
}
.isueo-newsletter-featured-view .h3 {
	margin: 0;
}
.isueo-newsletter-featured-view h2.newsletter-featured-title--preview {
	padding-bottom: 0;
	display: inline-flex;
	position: relative;
	align-items: center;
}


/* -------------------------------------- */
/* ## EDIT IMPACT REPORT
/* ------------------------------------- */
div#edit-moderation-state-wrapper {
	background-color: #cff4fc;
	border: 1px solid #9eeaf9;
	border-radius: 0.375rem;
	padding: 0 1rem;
	margin-bottom: 2rem;
}
div#edit-moderation-state-wrapper .form-item {
	color: #055160;
}
div#edit-moderation-state-wrapper .form-item__label {
	font-size: inherit;
}

/* --------------------------------------  */
/* ## HERE WITH YOU CAMPAIGN
/* --------------------------------------  */
#isueo-here-with-you--hero-text .layout-content {
	max-width: 50%;
}
#isueo-here-with-you--hero-text h2 span.emphasis::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -15%;
	width: 100%;
	height: 2rem;
	transform: translateX(-50%);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1375.62 166.02"><path fill="%23edc769" d="M171.58,139.63c17.9-5.45,36.08-9.98,54.39-13.81s36.66-6.96,55.11-9.69c18.4-2.72,36.85-5.03,55.32-7.2s38.06-4.43,57.1-6.57,38.32-4.27,57.49-6.33,38.35-4.07,57.53-6.04c19.26-1.97,38.53-3.89,57.8-5.77s38.39-3.68,57.59-5.45c19.2-1.77,38.4-3.49,57.61-5.16s38.59-3.31,57.89-4.89,38.44-3.1,57.66-4.58,38.45-2.91,57.69-4.3,38.63-2.73,57.95-4.03,38.48-2.53,57.73-3.73,38.49-2.32,57.74-3.38,38.67-2.08,58.01-3.04,38.52-1.88,57.78-2.75,38.53-1.69,57.79-2.47,38.7-1.52,58.05-2.2,38.54-1.32,57.81-1.92c9.35-.29,18.69-.56,28.04-.83v-11.33c-19.78,1.46-39.55,3.05-59.32,4.6s-39.54,3.1-59.32,4.65c-19.69,1.54-39.38,3.09-59.07,4.63-19.77,1.55-39.54,3.1-59.32,4.65-19.77,1.55-39.54,3.1-59.32,4.65s-39.54,3.1-59.32,4.65-39.38,3.09-59.07,4.63-39.54,3.1-59.32,4.65-39.54,3.1-59.32,4.65-39.54,3.1-59.32,4.65c-19.69,1.54-39.38,3.1-59.07,4.66s-39.54,3.12-59.32,4.68-39.54,3.12-59.32,4.68-39.38,3.11-59.07,4.66-39.54,3.12-59.32,4.68-39.54,3.12-59.32,4.68c-19.77,1.56-39.54,3.12-59.32,4.68s-39.54,3.12-59.32,4.68-39.37,2.85-59.07,4.2-39.54,2.72-59.32,4.07c-9.56.66-19.11,1.34-28.66,2.06v12.96c19.53-2.26,39.07-4.47,58.61-6.64s39.1-4.28,58.65-6.33,38.96-4.05,58.45-5.99,39.15-3.84,58.74-5.67,39.18-3.6,58.77-5.3,39.2-3.32,58.81-4.94,39.05-3.15,58.59-4.62c19.62-1.48,39.24-2.88,58.86-4.22s39.25-2.59,58.89-3.77,39.27-2.28,58.9-3.3c19.55-1.02,39.11-1.95,58.67-2.8s39.29-1.62,58.93-2.3,39.29-1.27,58.94-1.77,39.13-.9,58.7-1.22,39.3-.53,58.96-.65,39.3-.14,58.96-.06,39.3.27,58.95.56c19.65.29,39.3.72,58.95,1.19s39.13,1.03,58.69,1.72,39.29,1.48,58.92,2.4c9.49.44,18.98.91,28.47,1.41v-15.6c-19.84.43-39.67.85-59.51,1.29s-39.68.87-59.51,1.31-39.68.9-59.52,1.37-39.68.95-59.52,1.45c-19.84.5-39.68,1.02-59.52,1.56s-39.84,1.11-59.76,1.7-39.67,1.2-59.51,1.85-39.67,1.32-59.5,2.04-39.66,1.46-59.49,2.25-39.65,1.62-59.47,2.49-39.64,1.79-59.46,2.76-39.63,1.98-59.43,3.05-39.61,2.19-59.41,3.37-39.59,2.42-59.39,3.72-39.58,2.66-59.36,4.09c-19.87,1.44-39.72,2.97-59.57,4.64s-39.53,3.38-59.29,5.19-39.51,3.68-59.25,5.64c-4.94.49-9.87.98-14.81,1.48-2.47.25-4.94.5-7.4.75-1.15.12-2.31.22-3.45.35-.06,0-2.49.28-.99.13-.25.02-.49.05-.74.07-.74.07-1.48.14-2.22.22-9.88.96-19.74,2.3-29.6,3.5-19.73,2.41-39.46,4.89-59.17,7.47-4.68.61-9.36,1.23-14.05,1.85s-9.74,1.47-14.54,2.02c-1.67.19-3.12,1.29-3.12,3.12,0,1.56,1.43,3.28,3.12,3.12,18.41-1.77,36.83-3.4,55.25-5.03s36.84-3.23,55.27-4.79,36.86-3.08,55.29-4.57,36.87-2.93,55.31-4.34,36.88-2.78,55.33-4.12,36.89-2.62,55.34-3.87c18.37-1.24,36.74-2.44,55.11-3.61s36.91-2.3,55.37-3.4,36.92-2.15,55.39-3.17,36.93-2,55.4-2.95,36.94-1.85,55.41-2.72,36.95-1.7,55.43-2.49,36.96-1.55,55.44-2.27,36.96-1.4,55.45-2.04,36.97-1.5,55.45-1.81c9.2-.16,18.41-.6,27.61-.89s18.4-.58,27.61-.86c18.49-.56,36.98-1.07,55.47-1.55s36.98-.92,55.48-1.33c18.49-.4,36.99-.77,55.48-1.1s36.99-.72,55.48-1.11c8.96-.19,17.92-.43,26.87-.54,3.04-.04,5.96-2.65,5.82-5.82s-2.56-5.86-5.82-5.82c-18.49.22-36.99.23-55.49.4s-36.99.62-55.48,1.01c-18.49.38-36.99.8-55.48,1.26s-36.98.96-55.47,1.49-36.98,1.11-55.47,1.72-36.97,1.31-55.46,2.06-36.8,1.53-55.2,2.35-36.96,1.69-55.44,2.59-36.96,1.84-55.43,2.81-36.95,1.99-55.42,3.04-36.94,2.14-55.41,3.27-36.93,2.29-55.4,3.49-36.92,2.44-55.38,3.72-36.91,2.59-55.37,3.94-36.9,2.74-55.35,4.17c-18.36,1.42-36.73,2.85-55.09,4.34s-36.88,3.02-55.32,4.58c-18.44,1.56-36.87,3.17-55.3,4.81s-36.86,3.32-55.28,5.03-36.84,3.47-55.26,5.26c-8.92.87-17.84,1.76-26.75,2.62v6.23c4.89-.56,9.86-.86,14.78-1.31s9.86-.91,14.79-1.35c9.86-.89,19.72-1.76,29.58-2.6s19.73-1.67,29.59-2.47,19.75-1.46,29.6-2.42c19.72-1.92,39.49-3.51,59.23-5.16,19.75-1.65,39.51-3.22,59.27-4.71s39.54-2.82,59.31-4.29,39.72-2.82,59.59-4.13,39.58-2.55,59.37-3.73c19.8-1.18,39.6-2.31,59.4-3.37s39.61-2.08,59.42-3.04,39.63-1.87,59.45-2.74c19.82-.86,39.64-1.68,59.46-2.46s39.65-1.51,59.48-2.2c19.83-.69,39.66-1.35,59.49-1.98,19.83-.62,39.67-1.21,59.5-1.78s39.67-1.09,59.51-1.6,39.84-1,59.77-1.46,39.68-.91,59.52-1.34,39.68-.84,59.52-1.24c19.84-.4,39.68-.79,59.52-1.18s39.67-.76,59.51-1.13c9.59-.18,19.17-.36,28.76-.54,4.08-.08,7.99-3.53,7.8-7.8s-3.43-7.56-7.8-7.8c-19.63-1.08-39.27-2.04-58.91-2.89s-39.28-1.58-58.93-2.21-39.13-1.11-58.69-1.48c-19.65-.37-39.3-.62-58.95-.78s-39.3-.2-58.95-.15c-19.65.05-39.3.2-58.96.45s-39.14.59-58.71,1.03-39.3.97-58.95,1.59-39.3,1.33-58.94,2.13-39.29,1.68-58.93,2.65-39.11,2.01-58.67,3.14-39.27,2.34-58.9,3.63-39.25,2.65-58.87,4.09-39.07,2.93-58.6,4.5c-19.61,1.58-39.22,3.23-58.82,4.98s-39.2,3.58-58.79,5.46-39.18,3.83-58.75,5.84-39.15,4.07-58.72,6.19-38.96,4.28-58.43,6.5-39.09,4.51-58.63,6.84c-9.44,1.12-18.88,2.26-28.31,3.41-1.78.22-3.26.58-4.58,1.9-1.12,1.12-1.97,2.97-1.9,4.58.15,3.28,2.86,6.77,6.48,6.48,4.98-.4,9.97-.82,14.95-1.21l3.49-.27c.33-.03.67-.04,1-.08-.08,0,2.64-.48,1.35-.19-.8.19-.04.02.14,0l1.25-.11c2.49-.22,4.98-.44,7.48-.66,9.89-.87,19.77-1.74,29.66-2.61,19.77-1.74,39.54-3.48,59.32-5.21,19.68-1.73,39.37-3.2,59.07-4.73s39.54-3.07,59.32-4.6,39.54-3.07,59.32-4.6,39.54-3.07,59.32-4.6c19.69-1.53,39.38-3.06,59.07-4.58s39.54-3.07,59.32-4.6,39.54-3.07,59.32-4.6,39.54-3.07,59.32-4.6,39.38-3.07,59.07-4.61,39.54-3.09,59.32-4.63,39.54-3.09,59.32-4.63,39.38-3.08,59.07-4.61,39.54-3.09,59.32-4.63,39.54-3.09,59.32-4.63,39.54-3.09,59.32-4.63c19.77-1.54,39.54-3.09,59.32-4.63s39.38-3.08,59.07-4.61,39.54-3.09,59.32-4.63c9.56-.75,19.11-1.5,28.66-2.29,2.95-.24,5.81-2.43,5.66-5.66-.13-2.97-2.49-5.78-5.66-5.66-19.36.72-38.71,1.49-58.07,2.3s-38.54,1.66-57.81,2.56-38.7,1.86-58.04,2.85-38.53,2.03-57.78,3.12-38.68,2.23-58.02,3.41-38.5,2.48-57.75,3.68c-19.33,1.2-38.66,2.52-57.98,3.85s-38.48,2.7-57.72,4.11-38.63,2.9-57.94,4.42-38.62,3.09-57.92,4.71-38.44,3.27-57.65,4.97-38.59,3.48-57.87,5.29c-19.2,1.8-38.4,3.65-57.6,5.55s-38.55,3.86-57.82,5.87-38.37,4.04-57.54,6.14-38.51,4.26-57.76,6.46-38.32,4.43-57.48,6.73c-18.79,2.25-37.57,4.56-56.31,7.14s-36.93,5.37-55.27,8.74c-18.4,3.38-36.7,7.32-54.79,12.08-8.74,2.3-17.43,4.79-26.06,7.49-2.54.8-1.47,4.79,1.1,4.01h0Z"/><path fill="%23edc769" d="M51.06,76.78c-.08.25-.08.2-.25.51.05-.09.09-.08-.08-.01.52-.19-.57.1.01-.02-.09.02-.31.01-.38,0,.31.07.02,0-.13-.04-.9-.23-1.82-.82-2.55-1.76-.15-.19-.52-.89-.59-1.1-.14-.4-.17-.79-.09-1.1.29-1.13,1.63-2.28,2.85-2.9,3.2-1.63,7.23-1.35,10.69-1.17,5.35.27,10.7.52,16.05.76,21.56.97,43.13,1.73,64.71,2.31s43.14.96,64.71,1.18,43.14.27,64.71.18,43.14-.42,64.71-.86c21.57-.45,43.14-1.02,64.71-1.7s42.98-1.46,64.46-2.32c21.57-.87,43.14-1.82,64.71-2.84,21.57-1.02,43.14-2.1,64.71-3.23,21.57-1.13,43.15-2.3,64.72-3.5s43.15-2.42,64.72-3.64,42.98-2.48,64.47-3.72,43.15-2.46,64.72-3.65c21.57-1.19,43.15-2.33,64.73-3.42s43.15-2.12,64.73-3.08c21.57-.95,43.15-1.83,64.73-2.61,21.58-.78,43.15-1.46,64.74-2.02,21.58-.56,43.16-1,64.74-1.3,21.58-.3,43.16-.46,64.75-.47,21.5,0,43,.15,64.5.49,10.46.16,20.93-.16,31.39.09,2.17.05,4.25-1.95,4.15-4.15s-1.83-4.1-4.15-4.15c-10.96-.26-21.9-.98-32.87-1.14s-21.91-.26-32.87-.33c-21.83-.13-43.66-.09-65.49.11s-43.66.55-65.48,1.02c-21.83.48-43.66,1.09-65.48,1.81s-43.65,1.55-65.48,2.47c-21.91.92-43.82,1.94-65.72,3.02s-43.48,2.21-65.22,3.4c-21.91,1.19-43.81,2.44-65.71,3.7s-43.64,2.55-65.46,3.84c-21.82,1.29-43.64,2.63-65.46,3.93s-43.64,2.6-65.46,3.85c-21.82,1.25-43.63,2.46-65.46,3.62s-43.8,2.26-65.7,3.27-43.63,1.94-65.45,2.77-43.63,1.56-65.45,2.16-43.63,1.02-65.45,1.43-43.63.69-65.45.8-43.8.05-65.7-.19-43.47-.67-65.2-1.31c-10.92-.32-21.84-.73-32.77-1.12-3.9-.14-7.98.04-11.57,1.73-3.19,1.5-5.95,4.77-5.27,8.46.97,5.26,10.17,10.12,12.26,3.05.76-2.57-3.22-3.65-4.01-1.1h0Z"/><path fill="%23edc769" d="M154.78,120.34c18.02-4.92,36.29-8.92,54.68-12.21s36.81-5.9,55.32-8.09,37.05-3.96,55.61-5.6,38.11-3.32,57.16-4.91,38.53-3.17,57.8-4.68,38.55-2.97,57.82-4.38,38.56-2.77,57.85-4.09,38.41-2.57,57.62-3.78,38.59-2.38,57.89-3.5,38.6-2.19,57.9-3.21c19.22-1.02,38.44-1.99,57.67-2.91s38.62-1.81,57.93-2.64c19.31-.83,38.63-1.61,57.95-2.35s38.64-1.42,57.96-2.06,38.64-1.21,57.97-1.71c19.24-.5,38.48-.95,57.73-1.36s38.66-.77,57.98-1.08,38.66-.58,57.99-.8,38.5-.39,57.75-.52,38.66-.21,58-.25c9.38-.02,18.75-.02,28.13-.02v-11.33c-19.81.89-39.62,1.91-59.42,2.89s-39.62,1.96-59.42,2.94-39.45,1.95-59.17,2.92-39.62,1.96-59.42,2.94-39.62,1.96-59.42,2.94-39.62,1.96-59.42,2.94-39.45,1.95-59.17,2.92-39.62,1.96-59.42,2.94-39.62,1.96-59.42,2.94-39.62,1.96-59.42,2.94-39.45,1.96-59.17,2.95-39.62,1.98-59.42,2.97-39.62,1.98-59.42,2.97-39.45,1.97-59.17,2.95-39.62,1.98-59.42,2.97-39.62,1.98-59.42,2.97c-19.81.99-39.62,1.98-59.42,2.97s-39.62,1.98-59.42,2.97-39.45,1.71-59.17,2.49-39.62,1.57-59.42,2.36c-9.57.38-19.14.79-28.71,1.23v12.96c19.61-1.7,39.23-3.35,58.85-4.95s39.09-3.13,58.64-4.62c19.55-1.49,39.11-2.92,58.67-4.3s39.3-2.71,58.95-3.97,39.15-2.46,58.73-3.59,39.33-2.19,59-3.24,39.18-2.02,58.77-2.93,39.35-1.75,59.03-2.52,39.19-1.45,58.79-2.06c19.68-.61,39.36-1.15,59.05-1.6s39.2-.82,58.8-1.1,39.37-.49,59.05-.6,39.2-.13,58.8-.07c19.6.07,39.19.23,58.79.48s39.35.61,59.02,1.06,39.18.99,58.76,1.64c19.67.65,39.33,1.4,58.99,2.26s39.14,1.85,58.71,2.88,39.29,2.18,58.93,3.43,39.11,2.61,58.65,4.09c9.48.72,18.97,1.46,28.45,2.23v-15.6c-19.89-.15-39.77-.29-59.66-.44s-39.61-.28-59.42-.41-39.78-.25-59.68-.35c-19.81-.11-39.62-.2-59.43-.27s-39.79-.13-59.68-.17-39.62-.05-59.43-.03c-19.89.01-39.79.06-59.68.13s-39.62.18-59.43.32-39.78.32-59.67.53c-19.81.22-39.61.47-59.41.77s-39.77.65-59.65,1.04c-19.8.39-39.6.84-59.39,1.33s-39.75,1.05-59.63,1.66-39.58,1.27-59.36,2-39.57,1.52-59.34,2.37-39.72,1.82-59.57,2.91-39.7,2.24-59.55,3.48-39.52,2.53-59.28,3.92c-4.96.35-9.92.7-14.88,1.06-2.48.18-4.96.36-7.44.54-1.16.08-2.32.15-3.47.25-.5.04-2.48.19-1.48.17.65-.01-.17-.02-.26-.01-.74.03-1.49.1-2.23.15-9.84.67-19.67,1.71-29.5,2.62-19.83,1.84-39.66,3.76-59.47,5.77-4.79.49-9.58.98-14.37,1.47s-9.61,1.17-14.37,1.58c-1.68.14-3.12,1.33-3.12,3.12,0,1.6,1.43,3.23,3.12,3.12,18.48-1.24,36.98-2.33,55.47-3.44,18.41-1.1,36.82-2.16,55.24-3.19s37-2.02,55.5-2.97,36.84-1.86,55.26-2.73,37.01-1.72,55.52-2.52,36.85-1.55,55.29-2.26,37.03-1.39,55.54-2.03,36.87-1.23,55.3-1.79,37.04-1.09,55.56-1.57,36.88-.93,55.32-1.34,37.05-.78,55.57-1.12c18.44-.33,36.89-.63,55.33-.89s37.05-.48,55.58-.66,36.89-.33,55.34-.44,37.07-.44,55.59-.21c9.22.12,18.45-.07,27.67-.09s18.45-.05,27.67-.06c18.53-.02,37.06,0,55.59.05s36.89.15,55.34.28,37.06.3,55.59.51,36.89.34,55.34.49c8.97.07,17.95.09,26.92.24,3.04.05,5.96-2.71,5.82-5.82s-2.56-5.76-5.82-5.82c-18.53-.31-37.06-.84-55.58-1.21s-36.89-.44-55.34-.6-37.06-.27-55.59-.34c-18.45-.08-36.89-.11-55.34-.11-18.53,0-37.06.04-55.59.11s-36.89.24-55.34.46-37.06.47-55.59.76-36.89.62-55.33.98c-18.53.37-37.05.77-55.58,1.21-18.44.44-36.89.92-55.33,1.43s-37.05,1.07-55.57,1.67-36.88,1.22-55.31,1.88-37.04,1.37-55.56,2.12-36.87,1.52-55.3,2.34-37.03,1.68-55.54,2.57-36.86,1.8-55.28,2.75-37.01,1.95-55.52,2.99-36.84,2.09-55.26,3.2c-18.5,1.11-37,2.25-55.49,3.44s-36.82,2.4-55.23,3.65c-8.95.61-17.91,1.25-26.86,1.85v6.23c4.89-.42,9.91-.57,14.86-.89s9.91-.62,14.86-.93c9.91-.61,19.82-1.19,29.73-1.75s19.83-1.1,29.74-1.62,19.68-.88,29.5-1.55c19.82-1.35,39.68-2.37,59.51-3.45s39.52-2.07,59.29-2.99,39.71-1.68,59.56-2.58,39.55-1.66,59.33-2.4,39.73-1.41,59.6-2.02,39.58-1.16,59.37-1.65,39.76-.94,59.63-1.33,39.6-.72,59.4-1.01c19.89-.29,39.77-.54,59.66-.74s39.61-.36,59.42-.48,39.78-.21,59.67-.26,39.62-.07,59.43-.05,39.62.05,59.43.12c19.89.07,39.79.16,59.68.27,19.89.11,39.79.24,59.68.39s39.62.31,59.43.48c19.81.17,39.62.35,59.42.54s39.78.39,59.67.59c9.61.1,19.22.19,28.84.29,4.08.04,7.98-3.62,7.8-7.8-.2-4.52-3.43-7.43-7.8-7.8-19.62-1.65-39.25-3.18-58.88-4.6-19.55-1.41-39.11-2.71-58.67-3.9-19.56-1.19-39.13-2.25-58.7-3.18s-39.31-1.76-58.97-2.48-39.16-1.34-58.75-1.85-39.34-.94-59.02-1.26-39.19-.54-58.78-.67-39.36-.17-59.04-.11-39.2.2-58.8.43-39.37.55-59.05.95-39.2.88-58.8,1.44c-19.68.56-39.37,1.21-59.05,1.93s-39.2,1.51-58.79,2.38-39.19,1.8-58.78,2.81c-19.67,1.01-39.34,2.1-59.01,3.29s-39.16,2.44-58.74,3.75-39.31,2.7-58.96,4.14-39.13,2.93-58.69,4.48-39.27,3.17-58.9,4.83-39.09,3.37-58.62,5.12c-9.48.85-18.96,1.72-28.43,2.59-1.75.16-3.3.61-4.58,1.9-1.12,1.12-1.97,2.97-1.9,4.58.15,3.36,2.85,6.67,6.48,6.48,4.99-.26,9.99-.53,14.98-.78l3.5-.17c.33-.02.67-.02,1-.05l.86-.12c.97-.14,1.14-.16.5-.06-.44.28-.3.06.14.03l1.25-.07c2.5-.15,4.99-.29,7.49-.44,9.9-.58,19.81-1.17,29.71-1.75,19.81-1.17,39.62-2.33,59.42-3.5s39.45-2.06,59.17-3.02,39.62-1.93,59.42-2.89,39.62-1.93,59.42-2.89,39.62-1.93,59.42-2.89c19.72-.96,39.45-1.92,59.17-2.88s39.62-1.93,59.42-2.89,39.62-1.93,59.42-2.89,39.62-1.93,59.42-2.89c19.73-.96,39.45-1.93,59.17-2.9s39.62-1.94,59.42-2.92,39.62-1.94,59.42-2.92,39.45-1.94,59.17-2.9c19.81-.97,39.62-1.94,59.42-2.92,19.81-.97,39.62-1.94,59.42-2.92s39.62-1.94,59.42-2.92,39.62-1.94,59.42-2.92,39.45-1.94,59.17-2.9,39.62-1.94,59.42-2.92c9.57-.47,19.14-.95,28.71-1.46,2.95-.16,5.81-2.49,5.66-5.66s-2.49-5.69-5.66-5.66c-19.33.16-38.67.37-58,.62s-38.66.55-58,.89-38.66.74-57.99,1.17-38.66.92-57.99,1.45-38.66,1.11-57.98,1.73-38.65,1.37-57.97,2.01-38.64,1.4-57.96,2.17-38.64,1.59-57.95,2.45-38.63,1.78-57.94,2.74-38.62,1.97-57.93,3.03-38.61,2.16-57.91,3.31-38.6,2.35-57.89,3.6-38.42,2.54-57.63,3.88-38.74,2.75-58.1,4.21-38.39,2.93-57.59,4.46c-19.27,1.54-38.55,3.14-57.81,4.78s-38.53,3.33-57.79,5.07-37.47,3.45-56.17,5.48c-18.67,2.03-37.3,4.34-55.86,7.2s-36.83,6.24-55.02,10.47c-8.83,2.05-17.61,4.29-26.33,6.75-2.57.72-1.48,4.71,1.1,4.01h0Z"/><path fill="%23edc769" d="M36.04,54.11c-.02.07-.22.46-.07.23.02-.04-.29.25-.3.23-.02-.07.29-.07,0-.05-.12.01-.27,0-.38-.02.32.04.02-.01-.13-.06-.8-.24-1.75-.92-2.3-1.63-.4-.52-.59-.9-.72-1.37-.11-.41-.13-.79-.02-1.1.36-1.09,1.72-2.22,2.97-2.79,3.21-1.45,7.08-1.12,10.49-.85,5.43.43,10.86.84,16.29,1.25,21.55,1.59,43.11,2.98,64.68,4.18s42.97,2.2,64.46,3.04c21.57.84,43.15,1.52,64.74,2.05s43.01.83,64.52,1.01,43.19.23,64.79.18c21.6-.05,43.2-.21,64.8-.46,21.61-.25,43.21-.58,64.82-.97s43.06-.85,64.59-1.35,43.23-1.05,64.84-1.63,43.07-1.17,64.6-1.76c21.62-.6,43.23-1.25,64.85-1.86s43.23-1.22,64.85-1.78,43.23-1.09,64.85-1.55,43.06-.87,64.59-1.2c21.61-.33,43.22-.58,64.83-.74,21.52-.15,43.05-.21,64.57-.15s43.2.25,64.8.57,43.19.78,64.78,1.4,43.18,1.4,64.76,2.37c10.37.46,20.77.44,31.14.98,2.17.11,4.25-1.99,4.15-4.15-.11-2.35-1.83-4.03-4.15-4.15-10.96-.57-21.89-1.62-32.86-2.09s-21.75-.89-32.62-1.27c-21.83-.76-43.67-1.35-65.51-1.79s-43.69-.72-65.54-.87-43.70-.17-65.55-.08-43.71.29-65.57.58-43.72.67-65.58,1.11c-21.86.45-43.73.96-65.59,1.52s-43.73,1.16-65.59,1.8-43.73,1.29-65.59,1.95-43.73,1.37-65.59,2.04-43.72,1.33-65.59,1.96c-21.86.62-43.72,1.2-65.58,1.73-21.85.52-43.71.99-65.57,1.37s-43.7.68-65.55.88-43.69.3-65.53.27-43.67-.25-65.51-.46c-21.83-.21-43.66-.57-65.49-1.09s-43.64-1.21-65.46-2.09-43.63-1.94-65.42-3.21c-10.84-.63-21.66-1.36-32.49-2.05-3.89-.25-7.98-.18-11.6,1.42-3.22,1.43-6.07,4.61-5.44,8.33.9,5.31,9.87,10.31,12.17,3.29.84-2.55-3.15-3.62-4.01-1.1h0Z"/></svg>');
	background-size: 100% 100%;
	background-position: center;
	pointer-events: none;
}
#isueo-here-with-you--hero-text h2 span.emphasis {
	font-style: italic;
	position: relative;
}
#isueo-here-with-you--hero-text h2 {
	text-transform: uppercase;
	font-family: 'Arial Black', Arial, sans-serif;
	font-size: clamp(2rem, 5vw, 3.5rem);
	padding-bottom: 0;
}
#isueo-here-with-you--hero-text h2.hero-wrapper {
	font-size: clamp(1.5rem, 4.5vw, 3rem);
	padding: clamp(1rem, 3vw, 1.5rem) clamp(2rem, 4vw, 2.5rem);
	margin: 0;
	font-family: revert;
}
#isueo-here-with-you--hero-text span.hero-thin {
	font-weight: normal;
}
#isueo-here-with-you--hero-text .isueo-callout-stat {
	box-sizing: border-box;
	border-bottom-left-radius: 6rem;
	border-top-right-radius: 6rem;
	margin-top: -10rem;
	margin-bottom: 3rem;
	padding: 1.5rem;
}
#isueo-here-with-you--hero-text h2.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 7%;
  left: 3%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><path fill="%23fff" d="M5.38,5.3c.2,2.25.4,4.5.61,6.74s.41,4.52.61,6.77.4,4.5.61,6.74l.61,6.77.61,6.74.08.84c.02.26.21.51.5.5.26-.01.51-.22.5-.5-.13-2.22-.27-4.44-.4-6.67s-.27-4.42-.4-6.64-.27-4.42-.4-6.64-.27-4.44-.4-6.67-.27-4.42-.4-6.64l-.05-.84c-.02-.26-.22-.51-.5-.5s-.49.22-.5.5c-.02,2.27-.03,4.54-.05,6.8s-.03,4.54-.05,6.8-.03,4.54-.05,6.8-.03,4.56-.05,6.83-.03,4.54-.05,6.8v.84h.99c-.19-2.31-.37-4.61-.54-6.92s-.33-4.62-.48-6.92-.28-4.64-.38-6.96-.19-4.62-.25-6.93-.08-4.62-.08-6.94c0-.29,0-.58,0-.87l-.63.48c2.46.62,4.96,1.06,7.48,1.37s4.98.45,7.48.5,5.03-.02,7.54-.15,5.04-.35,7.55-.6,5.02-.54,7.52-.84c.32-.04.63-.07.95-.11.26-.03.51-.21.5-.5-.01-.27-.22-.49-.5-.5-3.89-.05-7.78-.09-11.67-.14s-7.78-.09-11.67-.14c-2.18-.03-4.37-.05-6.55-.08-.26,0-.51.23-.5.5.01.29.22.47.5.5,1.12.11,2.24.22,3.36.32.26.02.51-.25.5-.5-.01-.29-.22-.47-.5-.5-1.12-.11-2.24-.22-3.36-.32v.99c3.89.05,7.78.09,11.67.14s7.78.09,11.67.14c2.18.03,4.37.05,6.55.08v-.99c-2.5.3-5.01.59-7.52.85s-5.01.48-7.52.64-5.03.24-7.54.22-4.98-.14-7.46-.4-4.89-.65-7.31-1.22c-.3-.07-.6-.14-.9-.22-.31-.08-.63.15-.63.48-.02,2.31,0,4.63.05,6.94s.13,4.62.23,6.93.23,4.64.37,6.96.3,4.62.47,6.93.35,4.61.54,6.92c.02.29.05.58.07.87.02.26.21.51.5.5s.49-.22.5-.5c.02-2.27.03-4.54.05-6.8s.03-4.54.05-6.8.03-4.54.05-6.8.03-4.56.05-6.83.03-4.54.05-6.8v-.84h-.99c.13,2.22.27,4.44.4,6.67s.27,4.42.4,6.64.27,4.42.4,6.64.27,4.44.4,6.67.27,4.42.4,6.64l.05.84h.99c-.2-2.25-.4-4.5-.61-6.74s-.41-4.52-.61-6.77-.4-4.5-.61-6.74l-.61-6.77-.61-6.74-.08-.84c-.02-.26-.21-.51-.5-.5-.25.01-.52.22-.5.5h0Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
#isueo-here-with-you--hero-text h2.hero-wrapper::after {
  content: '';
  position: absolute;
  bottom: -10%;
  right: 2%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><path fill="%23fff" d="M141.9,108.28c.06,7.58.12,15.16.18,22.73.02,2.12.03,4.25.05,6.37h.99c-.34-4.21-.68-8.42-.9-12.64s-.33-8.43-.21-12.65c.07-2.38.22-4.77.46-7.14l-.98.13c1.28,7.23,2.16,14.52,2.63,21.85.13,2.09.23,4.18.3,6.27h.99c-.93-7.03-1.55-14.1-1.85-21.19-.09-2.02-.15-4.04-.18-6.06-.01-.64-1-.64-.99,0l.16,13.79.16,13.73.08,6.87c0,.74.03,1.56-.3,2.24-.43.88-1.33.81-2.18.71-4.52-.56-9.04-1.14-13.56-1.71s-8.68-1.28-12.99-.54c-.54.09-1.07.21-1.6.35-.24.06-.39.31-.36.55.04.26.24.4.49.43,3.5.45,7.01.9,10.51,1.35s6.96.95,10.45,1.33c1.92.21,3.85.28,5.76-.06.55-.1.42-1-.13-.98-7.64.32-15.3.45-22.95.41-2.16-.01-4.32-.04-6.49-.08-.64-.01-.64.98,0,.99,7.65.15,15.3.11,22.95-.1,2.16-.06,4.32-.14,6.48-.23l-.13-.98c-1.65.3-3.35.24-5.02.08s-3.41-.41-5.12-.63c-3.48-.45-6.97-.89-10.45-1.34-1.96-.25-3.92-.5-5.87-.75l.13.98c4.28-1.14,8.77-.47,13.09.07,4.62.58,9.25,1.17,13.87,1.75,1,.13,2.16.41,3.09-.14.7-.42,1.06-1.19,1.2-1.97.17-.94.11-1.9.09-2.85l-.04-3.5c-.05-4.68-.11-9.36-.16-14.04l-.16-13.98-.02-1.75h-.99c.13,7.09.57,14.18,1.32,21.23.21,2.01.45,4.02.72,6.02.04.27.2.5.5.5.26,0,.51-.23.5-.5-.24-7.42-.9-14.83-1.96-22.18-.3-2.07-.64-4.14-1-6.19-.04-.24-.32-.39-.55-.36-.26.04-.41.24-.43.49-.42,4.19-.55,8.41-.5,12.63s.29,8.44.59,12.65c.17,2.38.36,4.77.56,7.15.05.63,1,.65.99,0-.06-7.58-.12-15.16-.18-22.73l-.05-6.37c0-.64-1-.64-.99,0h0Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
#isueo-here-with-you--hero-text h2.hero-wrapper::before,
#isueo-here-with-you--hero-text h2.hero-wrapper::after {
  width: clamp(3rem, 17vw, 17rem);
  height: clamp(3rem, 17vw, 17rem);
}