/**
 * @file
 * Print CSS styles for the ISU theme
 *
 */

 @page {
  size: letter;
  break-before: auto;
  break-after: auto;
  padding: 10mm;
}
/* --------------------------------------  */
/* ## TYPOGRAPHY
/* --------------------------------------  */
body {
  padding-top: 0 !important;
  font-family: Arial, sans-serif;;
}
body,
.isu-site-navbar,
.card-header {
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  page-break-inside: avoid;
}
h1 {
  font-size: 24pt;
  font-weight: bold;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}
h2.isu-block-title.h4, h2, .h2 {
  margin: 1rem 0 0;
  line-height: 1.2;
  font-size: 22pt;
}
a {
  word-wrap: break-word;
  font-weight: bold;
}
p, ol, ul {
  font-size: 16pt;
  line-height: 1.3;
  font-family: Arial, sans-serif;
  orphans: 2;
  widows: 2;
}
/*a:after {
  content: " (" attr(href) ")";
  font-size: .9rem;
  display: contents !important;
}
a#main-content:after {
  display: none;
}*/
/* --------------------------------------  */
/* ## PAGE LAYOUT
/* --------------------------------------  */
.node {
  padding: 0 !important;
  color: #000 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  background-color: transparent !important;
}
#toolbar-bar,
.isu-navbar,
.isu-search_collapse,
.isu-menu-navbar_toggler,
.isu-search_toggler,
.isu-menu-navbar,
.isu-region_breadcrumbs, 
.nav-tabs,
.isu-comments_title,
.comment-comment-form,
.isu-sidebar,
.isu-links,
mark.badge,
.isu-row-header,
.isu-both-row-header,
.contextual .trigger,
.isu-sign-off_wrapper,
.isu-footer img, 
.isu-footer .isu-copyright,
.isu-social-menu-footer,
.isu-region_footer-fourth,
.isu-footer a {
  display: none;
}
.si-toggle-container {
  display: none;
}
div#block-iastate-theme-local-tasks {
  display: none;
}

/* --------------------------------------  */
/* ## SITE HEADER
/* --------------------------------------  */

.isu-row-site-navbar {
  display: block;
}

.isu-col-header-first { 
  text-align: left;
}

a.isu-wordmark {
 text-decoration: none !important;
}

.isu-wordmark-logo {
  max-width: 400px;
  padding-top: 4rem;
}

.isu-wordmark-sitename { 
  color: #000; 
  font-size: 18px;
}

#block-gtranslate {
  display: none;
}

#block-socialmediared {
  display: none;
}

/* --------------------------------------  */
/* ## LINKS and BUTTONS
/* --------------------------------------  */
a { 
  padding: 0 !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 1em  !important;
  font-weight: normal !important;
  text-decoration: underline !important;
}

.button,
.alert {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

.badge { 
  background-color: #fff !important;
  border: none !important;
}
.btn-success, .btn-outline-success, .btn-danger, .btn-outline-danger, .btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary {
  background-color: transparent;
  border-color: transparent;
  border: none;
  border-radius: unset;
}

/* --------------------------------------  */
/* ## BLOCKS
/* --------------------------------------  */
/* Stat Cards */
.isueo-callout-stat {
  background: transparent;
}
div.isueo-callout-stat {
  color: #000;
  padding: 0 !important;
}
.isueo-callout-stat:before {
  display: none;
}

.node {
  padding: 0 !important;
  color: #000 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  background-color: transparent !important;
}
h2.isu-block-title.h4:after {
  display: none;
}
/* --------------------------------------  */
/* ## LAYOUT BUILDER
/* --------------------------------------  */
.layout--background--gray, .layout--background--red, .layout--background--green, .layout--background--blue {
  background-color: transparent;
}
/* --------------------------------------  */
/* ## SITE FOOTER
/* --------------------------------------  */
#block-contact-us.isu-footer_contact-address {
  color: #000;
  width: 1140px;
  font-size: 14pt;
  line-height: 1.6;
  border-top: 2px solid var(--primary-color);
}
.isu-footer {
  background: transparent;
  padding: 0;
  page-break-inside: avoid;
}
.isu-footer .row {
  display: block;
}
#block-contact-us.isu-footer_contact-address:after {
  content: "This institution is an equal opportunity provider. For the full non-discrimination statement or accommodation inquiries, go to www.extension.iastate.edu/legal/";
  font-size: .9rem;
  display: block;
}