{#
/**
 * @file
 * Parital template to include the homepage hero section.
 *
 */
#}
<div class="layout layout--base--twocols layout--base--twocols-- layout--background--none layout--background-attachment--default layout--background-position--center layout--background-size--cover layout--background-overlay--none layout--top-bottom-padding--small layout--left-right-padding--small layout--container--none layout--content-container--default layout-height-40vh layout--color--white layout--column-gap--default layout--row-gap--none layout--column-breakpoint--medium layout--column-width--default layout--align-items--normal layout-builder-base--two-columns layout--twocol" id="isueo-homepage--hero-section" style="background-image: url('https://www.extension.iastate.edu/files/layout_background/01.png')">
    <div class="layout-content">
      	<div></div>
      	<div class="layout__region layout__region--second">
			<div class="pt-5 pb-5 flip_cards isu-block-front isu-block">
				<div>
					<h2>Here with <span class="emphasis">you</span></h2>
					<div class="hero-text-block">
						<h2 class="hero-wrapper">
							<span class="hero-line hero-line-top">
								<span class="hero-thin">in {{ drupal_config('system.site', 'name') }}</span>							
							</span>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>			

