{#
/**
 * @file
 * Parital template to include the main menu.
 *
 * Regions:
 *  parts/menu-navbar.html.twig
 *  - page.menu_navbar: Primary site navigation
 * 
 * Template for the menu itself is in navigation/menu--main.html.twig
 *
 */
#}

<div>
	<!-- This class-less div is required so the layout won't collapse. -->
	<div class="navbar navbar-expand-lg isu-menu-navbar">
		<div class="container isu-menu-navbar_container">
			<div class="isu-wordmark-sitename">
				<a rel="home" href="{{ path('<front>') }}">{{ site_name }}</a>
			</div>
			<div class="isu-menu-navbar_collapse isu-menu-navbar_wrap" id="isu-menu-navbar_collapse">
				{{ page.menu_navbar }}
				<nav class="isu-navbar-responsive" aria-label="Iowa State University quicklinks">
					<ul class="isu-navbar_container" id="isu-navbar">
						<li class="isu-navbar_break" aria-hidden="true"></li>
						<li>
							<a href="https://www.iastate.edu/">ISU</a>
						</li>
						<li>
							<a href="https://www.extension.iastate.edu/news">News</a>
						</li>
						<li>
							<a href="https://store.extension.iastate.edu/">Store</a>
						</li>
						<li>
							<a href="https://www.extension.iastate.edu/content/contact-us">Contact Us</a>
						</li>
						<li>
							<a href="https://www.extension.iastate.edu/countyservices/">Offices</a>
						</li>
					</ul>
				</nav>
				<div class="col-lg isu-col-header-second isu-col-header-second_has-search isu-header-second-responsive">
					{{ page.header_second }}
				</div>
			</div>
		</div>
	</div>
</div>
